body {
  background-color: #000;
}

a {
  color: #999;
  cursor: pointer;
}

a:hover {
  color: rgb(190, 190, 190);
  transition: 1s ease-in-out;
}

.btn {
  margin: 1em;
}

.logo {
  width: 100%;
  max-width: 50em;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 3.2em;
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
